<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
    <div id="app">
        <nav class="nav-extended indigo">
            <div class="nav-wrapper">
            <a href="#" class="brand-logo"><i class="material-icons md-48">bubble_chart</i></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="javascript:;" data-activates="slide-out" class="viewc5"><i class="material-icons">visibility</i></a></li>
                <li><a href="javascript:;" @click="loginC5"><i class="material-icons">power_settings_new</i></a></li>
                <li><a href="javascript:;"><i class="material-icons">person</i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#">Sass</a></li>
                <li><a href="#">Components</a></li>
                <li><a href="#">JavaScript</a></li>
            </ul>

            <ul class="tabs tabs-transparent">
                <li class="tab"><a href="#HomeTab">Home</a></li>
                <li class="tab"><a class="active" href="#BuyTab">Buy</a></li>
                <li class="tab"><a href="#PurchaseTab">Purchase</a></li>
                <li class="tab"><a href="#BugTab">Bug</a></li>
                <li class="tab"><a href="#CourierTab">Courier</a></li>
                <li class="tab"><a href="#DataTab">Data</a></li>
                <li class="tab"><a href="#SettingTab">Setting</a></li>
                <li class="tab"><a href="#ViewTab">ViewC5</a></li>
            </ul>
            </div>
        </nav>
        <div id="HomeTab" class="col s12">
            <div class="row mb0 grey lighten-3 topform">
                <div class="col s8 offset-s2">
                    <div class="search-wrapper card shadow-soft">
                        <input id="search" v-model="search.word" @keyup.prevent="searchSubmit"><i class="material-icons">search</i>
                        <div class="search-results">
                            <a v-for="(list, index) in search.list" href="javascript:;"><img :src="list.image" class="circle"><span>{{list.name}}</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section grey lighten-5">
                <div class="row items" style="width: 1400px;">
                    <div class="col s2">
                        <div class="card ">
                            <span class="new badge blue" data-badge-caption=" rmb">卖一价: 13.48</span>
                            <span class="new badge red" data-badge-caption=" rmb">求一价: 12.50</span>
                            <div class="card-image">
                                <img class="item" src="https://i.c5game.com/economy/570/2016/07/16/496eefeb8bdb02abc8367e8f450011e0.png">
                                <span class="card-title">荣光红服</span>
                            </div>
                            <div class="card-content">
                            <p>
                                <i class="material-icons">shopping_cart</i><b>213</b> for sale<br/>
                                <i class="material-icons">favorite</i><b>14</b> for purchase<br/>
                                <i class="material-icons">sync</i><b>411</b> Sold out
                                <span>Market: 200 ~ 400 rmb</span>
                            </p>
                            </div>
                            <div class="card-action">
                                <a href="#">Remove</a>
                            </div>
                        </div>
                    </div>

                    <div class="col s2" v-for="(list, key) in taskList">
                        <div class="card ">
                            <span class="new badge blue" data-badge-caption=" rmb">卖一: {{ list.firstSale ? list.firstSale.price : list.price }}</span>
                            <span class="new badge red" data-badge-caption=" rmb" v-if="list.firstPurchase">求一: {{ list.firstPurchase.price || 0.00}}</span>
                            <div class="card-image">
                                <img class="item" :src="list.image || '/images/bug.png'">
                                <span class="card-title">{{ list.name }}</span>
                            </div>
                            <div class="card-content">
                            <p>
                                <i class="material-icons">shopping_cart</i><b>{{list.saling}}</b> for sale<br/>
                                <i class="material-icons">favorite</i><b>{{list.purchasing}}</b> for purchase<br/>
                                <i class="material-icons">sync</i><b>{{list.saleNumber}}</b> Sold out
                                <span>Market: {{list.marketPrice}}</span>
                            </p>
                            </div>
                            <div class="card-action">
                                <a href="javascript:;" @click="cancelTask(list.task + list.id)">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="BuyTab" class="col s12">
            <div class="row mb0 grey lighten-3 topform">
                <div class="col s8 offset-s2 card shadow-soft">
                    <form id="buyForm">
                        <div class="col s3 itemSearch">
                            <input type="hidden" name="task" value="buy" />
                            <div class="input-field col s12">
                                <input id="itemID" type="text" v-model="search.word" @keyup.prevent="searchSubmit" class="validate" name="name">
                                <label for="itemID">Name</label>
                                <input type="hidden" name="image" value="" />
                                <input type="hidden" name="id" value="" />
                                <input type="hidden" name="saleID" value="" />
                                <ul v-show="search.list.length" class="itemSearchList autocomplete-content dropdown-content">
                                    <li v-for="(list, index) in search.list" @click="searchItemClick(index, '#buyForm')">
                                        <img :src="list.image" class="left circle"><span>{{list.name}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col s1">
                            <div class="input-field col s12">
                                <input id="maxPrice" type="text" class="validate" name="price">
                                <label for="maxPrice">Price</label>
                            </div>
                        </div>
                        <div class="col s2">
                            <div class="input-field col s12">
                                <select multiple name="type">
                                    <option value="" disabled selected>Gem Type</option>
                                    <option value="effect">Effect</option>
                                    <option value="color">Color</option>
                                    <option value="animation">Animation</option>
                                </select>
                            </div>
                        </div>
                        <div class="col s1">
                            <div class="input-field col s12">
                                <input id="Detail" type="text" name="detail" class="validate">
                                <label for="Detail">Detail</label>
                            </div>
                        </div>  
                        <div class="col s2">
                            <div class="input-field col s6">
                                <input type="checkbox" name="only" id="Only" />
                                <label for="Only">Only</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="checkbox" name="onlyFirstPage" id="onlyFirstPage" />
                                <label for="onlyFirstPage">First</label>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="input-field col s12 right-align">
                                <button class="waves-effect waves-orange btn-flat" @click.prevent="addFish('#buyForm')">Add</button>                        
                                <button class="waves-effect pink waves-light btn" @click.prevent="generateTask('#buyForm')">Fetch</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="section grey lighten-5">
                <div class="row fishList">
                    <div v-for="(list, index) in fishList" v-if="list.option.task=='buy'" class="col s3">
                        <div class="chip">
                            <img :src="list.image">
                            <h5>{{ list.name }}</h5>
                            <span style="padding-right: 4px;" v-for="(value, key) in list.option" v-if="key == 'price' || key == 'id' || key == 'only' || key == 'type' || key == 'onlyFirstPage'">{{ key }}:<b>{{ value }}</b> </span>
                            <div class="fishOpration">
                                <a @click="activeFish(index)" href="javascript:;">Active</a>
                                <a @click="showFish(index)" href="#modal1">Edit</a>
                                <a @click="deleteFish(index)" href="javascript:;">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="PurchaseTab" class="col s12">
            <div class="row mb0 grey lighten-3 topform">
                <div class="col s6 offset-s3 card shadow-soft">
                    <form id="purchaseForm">
                        <div class="col s6">
                            <input type="hidden" name="task" value="purchase" />
                            <div class="input-field col s12">
                                <input id="purchaseID" type="text" v-model="search.word" @keyup.prevent="searchSubmit" name="name">
                                <label for="purchaseID">Name</label>
                                <input type="hidden" name="image" value="" />
                                <input type="hidden" name="id" value="" />
                                <input type="hidden" name="saleID" value="" />
                                <input type="hidden" name="purchaseID" value="" />
                                <ul v-show="search.list.length" class="itemSearchList autocomplete-content dropdown-content">
                                    <li v-for="(list, index) in search.list" @click="searchItemClick(index, '#purchaseForm')">
                                        <img :src="list.image" class="left circle"><span>{{list.name}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col s2">
                            <div class="input-field col s12">
                                <input id="purchaseTime" type="text" name="time" class="validate">
                                <label for="purchaseTime">Time</label>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="input-field col s12 right-align">
                                <button class="waves-effect waves-orange btn-flat" @click.prevent="addFish('#purchaseForm')">Add</button>
                                <button class="waves-effect pink waves-light btn" @click.prevent="generateTask('#purchaseForm')">Purchase</button>                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="section grey lighten-5">
                <div class="row fishList">
                    <div v-for="(list, index) in fishList" v-if="list.option.task=='purchase'" class="col s3">
                        <div class="chip">
                            <img :src="list.image">
                            <h5>{{ list.name }}</h5>
                            <span style="padding-right: 4px;" v-for="(value, key) in list.option" v-if="key == 'time' || key == 'id' || key == 'num'">{{ key }}:<b>{{ value || 1 }}</b> </span>
                            <div class="fishOpration">
                                <a @click="activeFish(index)" href="javascript:;">Active</a>
                                <a @click="showFish(index)" href="#modal1">Edit</a>
                                <a @click="deleteFish(index)" href="javascript:;">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="BugTab" class="col s12">
            <div class="row mb0 grey lighten-3 topform">
                <div class="col s10 offset-s1 card shadow-soft">
                    <form id="bugForm">
                        <input type="hidden" name="task" value="bug" />
                        <div v-for="(search, index) in searchList" v-if="index > 2" class="col s2">
                            <div class="input-field col s12">
                                <select multiple name="type">
                                    <option value="" disabled selected>{{ search.title }}</option>
                                    <option v-for="(list, j) in search.list" :value="list.value"> {{ list.text }} </option>
                                </select>
                            </div>
                        </div>
                        <div class="col s1">
                            <div class="input-field col s12">
                                <input id="BugPrice" type="text" name="price" />
                                <label for="BugPrice">Price</label>
                            </div>
                        </div>
                        <div class="col s1">
                            <div class="input-field col s12">
                                <input id="BugTime" type="text" name="time" class="validate">
                                <label for="BugTime">Time</label>
                            </div>
                        </div>  
                        <div class="col s2">
                            <div class="input-field col s12 right-align">
                                <button class="waves-effect waves-orange btn-flat" @click.prevent="addFish('#bugForm')">Add</button>                        
                                <button class="waves-effect pink waves-light btn" @click.prevent="generateTask('#bugForm')">Active</button>                        
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="section grey lighten-5">
                <div class="row fishList">
                    <div v-for="(list, index) in fishList" class="col s3" v-if="list.option.task=='bug'">
                        <div class="chip">
                            <img :src="list.img || '/images/bug.png'">
                            <h5>{{ list.title }}</h5>
                            <span style="padding-right: 4px;" v-for="(value, key) in list.option" v-if="value">{{ key }}:<b>{{ value }}</b> </span>
                            <div class="fishOpration">
                                <a @click="activeFish(index)" href="javascript:;">Active</a>
                                <a @click="showFish(index)" href="#modal1">Edit</a>
                                <a @click="deleteFish(index)" href="javascript:;">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="CourierTab" class="col s12">
            <div class="row mb0 grey lighten-3 topform">
                <div class="col s4 offset-s4 card center-align shadow-soft">
                    <form id="gemCourierForm">
                        <div class="col s4">
                            <input type="hidden" name="task" value="gemCourier" />
                            <div class="input-field col s12">
                                <input id="gemCourierSetting_courier_rate" type="text" name="gemCourierSetting_courier_rate">
                                <label for="gemCourierSetting_courier_rate">Courier Rate</label>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="input-field col s12">
                                <input id="gemCourierSetting_gem_rate" type="text" name="gemCourierSetting_gem_rate">
                                <label for="gemCourierSetting_gem_rate">Gem Rate</label>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="input-field col s12 right-align">
                                <button class="waves-effect pink waves-light btn" @click.prevent="generateTask('#purchaseForm')">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="grey lighten-5">
                <div class="row fishList">
                    <div class="col s12 ">
                        <div class="section">
                            <button class="waves-effect waves-orange btn-flat" @click.prevent="gemCourierSwitcher = 'courier'">Edit Couriers</button>
                            <button class="waves-effect waves-orange btn-flat" @click.prevent="gemCourierSwitcher = 'gem'">Edit Gems</button>
                        </div>
                    </div>
                    <div class="col s3" v-for="(list, index) in gemCourierList" v-show="list.type==gemCourierSwitcher">
                        <div class="chip">
                            <img :src="list.image">
                            <h5>{{ list.name }}</h5>
                            Price: <input type="text" v-model="list.price" />CNY
                            <div class="fishOpration">
                                <a @click="activeGemCourier(index)" v-if="list.type=='courier'" href="javascript:;">Active</a>
                                <a @click="saveGemCourier(index)" href="#modal1">Save</a>
                                <a @click="deleteGemCourier(index)" href="javascript:;">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="DataTab" class="col s12">
            <div class="row mb0 grey lighten-3 topform">
                <div class="col s8 offset-s2 card center-align shadow-soft">
                    <form id="dataForm">
                        <div v-for="(search, index) in searchList" v-if="index > 2" class="col s2">
                            <div class="input-field col s12">
                                <select multiple :name="search.name + index">
                                    <option value="" disabled selected>{{ search.title }}</option>
                                    <option v-for="(list, j) in search.list" :value="JSON.stringify(list)"> {{ list.text }} </option>
                                </select>
                            </div>
                        </div>
                        <div class="col s2">
                            <div class="input-field right-align col s12">
                                <button class="waves-effect pink waves-light btn" @click.prevent="initData">Fetch</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="grey lighten-5">
                <div class="row">
                    <div class="col s12 section dataList">
                        <table class="highlight">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>SaleID</th>
                                    <th>PurchaseID</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>Alvin</td>
                                <td>Eclair</td>
                                <td>$0.87</td>
                                <td>$0.87</td>
                                <td>$0.87</td>
                                </tr>
                                <tr>
                                <td>Alan</td>
                                <td>Jellybean</td>
                                <td>$3.76</td>
                                <td>$3.76</td>
                                <td>$3.76</td>
                                </tr>
                                <tr>
                                <td>Jonathan</td>
                                <td>Lollipop</td>
                                <td>$7.00</td>
                                <td>$7.00</td>
                                <td>$7.00</td>
                                </tr>
                                <tr>
                                <td>Shannon</td>
                                <td>KitKat</td>
                                <td>$9.99</td>
                                <td>$9.99</td>
                                <td>$9.99</td>
                                </tr>
                            </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="SettingTab" class="col s12">SettingTab</div>
        <div id="ViewTab" class="col s12">
            
        </div>
    </div>
     <ul id="slide-out" class="side-nav">
        <iframe src="https://www.c5game.com" frameborder="0" style="width: 100%; height: 100vh; display: block; "></iframe>
    </ul>
<body>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/async.min.js"></script>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/materialize.min.js"></script>
    <script src="/javascripts/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                search: {
                    list: [],
                    word: '',
                    status: false
                },
                taskList: {},
                fishList: [],
                searchList: [],
                gemCourierSwitcher: 'courier',
                gemCourierList: [],
                search: {
                    status: false,
                    word: '',
                    list: []
                },
                modifyFish: {
                    option: {}
                },
                isLogged: false,
                isPurchaseSale: false,
                typeSearch: 'Item',
            },
            created: function() {
                var _this = this;
               this.getFish();
               this.getGemCourier();
               this.getTaskList();
               $.get('/getSearchForm', function(res) {
                    console.log(res);
                    _this.searchList = res;
                    _this.$nextTick(function() {

                        $('select').material_select();
                    })
                })
            },
            methods: {
                searchSubmit: _.debounce(function(word) {
                    if(!this.search.word.trim().length) return;
                    var _this = this;

                    this.search.status = true;
                    this.search.list = [];

                    $.post('/search', {word: _this.search.word}, function(res) {
                        _this.search.list = res.list;
                        _this.search.status = false;
                    })

                }, 800),
                searchItemClick: function(i, par) {
                    var list = this.search.list[i],
                        $par = $(par);

                    $par.find('input[name="id"]').val(list.id);
                    $par.find('input[name="image"]').val(list.image);
                    $par.find('input[name="saleID"]').val(list.saleID);
                    $par.find('input[name="purchaseID"]') && $par.find('input[name="purchaseID"]').val(list.purchaseID);

                    this.search.word = list.name;
                    this.search.status = false;
                    this.search.list = [];
                },
                getTaskList: function(){
                  var _this = this;
                  $.get('/getTaskList', function(res) {
                      console.log( res)
                      _this.taskList = res;
                  })
                },
                loginC5: function() {
                    var _this = this;
                    $.get('/login', function(res) {
                        console.log(res);
                        if (res.status == 'success') _this.isLogged = true;
                    })
                },
                purchaseSale: function() {
                    var _this = this;
                    $.get('/purchaseSale', function(res) {
                        console.log(res);
                        if (res.status == 'success'){
                            _this.isPurchaseSale = true
                        }else {
                            _this.isPurchaseSale = false
                        };
                    })
                },
                generateTask: function(el){
                    var _this = this;
                    $.post('/generateTask', $(el).serialize(), function(res) {
                        _this.taskList = res;
                    })
                },
                cancelTask: function(task){
                    var _this = this;
                    console.log(task)
                    $.post('/cancelTask', {task: task}, function(res) {
                        _this.taskList = res;
                    })
                },
                addFish: function(el) {
                    $.post('/fish', $(el).serialize(), function(res) {
                        console.log(res)
                    })
                },
                getFish: function() {
                    var _this = this;
                    $.get('/fish', function(res) {
                        _this.fishList = res.list;
                    })
                },
                saveGemCourier: function(i) {
                    var _this = this;
                    $.post('/gemCourier', _this.gemCourierList[i],  function(res) {
                        console.log(res);
                        if(res.status == 'success') {
                            Materialize.toast('Save success!', 3000)
                        }
                    })
                },
                getGemCourier: function() {
                    var _this = this;
                    $.get('/gemCourier', function(res) {
                        _this.gemCourierList = res.data;
                    })
                },
                activeFish: function(i) {
                    var _this = this;
                    var fish = this.fishList[i];

                    $.post('/generateTask', fish.option, function(res) {
                        _this.taskList = res;
                    })
                },
                activeAllFish: function(){
                    var _this = this;
                    async.mapLimit(_this.fishList, 1, function(fish, callback) {
                        $.post('/generateTask', fish.option, function(){
                            setTimeout(function() {
                                callback(null, null);
                            }, 1800)
                        });
                    }, function(err, result) {
                        _this.getTaskList();
                    })
                },
                deleteFish: function(i) {
                    var fish = this.fishList[i];
                    var _this = this;
                    $.ajax({
                        url: '/fish',
                        type: 'delete',
                        data: {
                            id: fish.option.id
                        }
                    })
                    .done(function(res) {
                        _this.fishList.splice(i, 1);
                    })
                },
                initData: function(){
                    var lists = $('#dataForm').serializeArray(),
                        _this = this;

                    $.post('/data', {lists: JSON.stringify(lists)}, function(res) {
                        console.log(res);
                    })
                },
            }
        })

        $(function(){
           $('select').material_select();
           $('.viewc5').sideNav({
                menuWidth: 1200, // Default is 240
                edge: 'right', // Choose the horizontal origin
                closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                draggable: true // Choose whether you can drag to open on touch screens
                }
            );
        })
    </script>
</body>

</html>